@model FGW_Management.Models.Contribution

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var comments = (List<Comment>)ViewData["Comments"];
}

<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contributor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contributor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.Title)
        </dd>
    </dl>

    <form asp-action="Mark">
        <input type="hidden" name="contributionId" value="@Model.Id" />
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<ContributionStatus>()" name="contributionStatus"></select>
        <button type="submit">Mark</button>
    </form>

    @foreach (var file in Model.SubmittedFiles)
    {
        <div>
            <a asp-action="DownloadFile" asp-route-fileId="@file.Id">
                @System.IO.Path.GetFileName(file.URL)
                <!--@file.URL.Split("\\").Last()-->
            </a>
        </div>
    }

    @if (comments != null)
    {
        foreach (var comment in comments)
        {
            <div>
                @comment.User.Email (@comment.Date) : @comment.Content
            </div>
        }
    }
    <form asp-action="comment">
        <input type="hidden" name="contributionId" value="@Model.Id" />
        <textarea name="commentContent"></textarea>
        <button type="submit">Comment</button>
    </form>

    <div class="mb-5">
        <a asp-area="Coordinator" asp-controller="Submissions" asp-action="Index" asp-route-topicId="@Model.Id" class="btn btn-primary">Back</a>
    </div>
</div>



