@model IEnumerable<FGW_Management.Models.Contribution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-action="DownloadApprovedFile" asp-route-topicId="@ViewBag.TopicId">Download</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contributor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submission)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contributor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submission.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
